.footer {
    background-color: #008BC6;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 20px;
}

.footer-social{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.footer-copyright{
    padding-bottom: 5px;
    text-align: center;
}

